@font-face {
  font-family: 'Johmuria';
  src:
    local('Johmuria'),
    url('/src/fonts/Jomhuria.woff') format('woff'),
    url('/src/fonts/Jomhuria.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-family: Jomhuria;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
